.bg-default {
    background-color: #9F0000; 
}
/* ESTILO NAV */
.info-nav{
    font-size: 18px;
    color: #fff;
    width: 450px;
}

.hover-link {
    transition: all 0.3s ease;
}

.hover-link:hover {
    color: #ffc107 !important;
    transform: translateX(5px);
}

/* ESTILO HOME */

.container-principal {
    min-height: calc(100vh - 200px);
}

.hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.hover-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) !important;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}


.custom-select {
    background-color: #fff;
    color: #9F0000;
    border: 1px solid #ddd;
    font-weight: 500;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* seta custom */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%23c1121f' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 5.5l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 14px;

    padding-right: 2.5rem;
}

/* opções do select */
.custom-select option {
    background-color: #fff;
    color: #c1121f;
}

/* foco */
.custom-select:focus {
    border-color: #c1121f;
    box-shadow: 0 0 0 0.2rem rgba(193, 18, 31, 0.25);
}
.pizza-card {
    max-width: 170px;
    margin: auto;
}

.pizza-img {
    border-radius: 12px;
    height: 160px;
    padding: 8px;
}
