@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
::before,
::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Navbar
/* 3. Conteudo principal
/* 4. Sobre Nós
/* 5. Diferenciais
/* 6. Pacotes
/* 7. Newsletter
/* 8. Galeria
/* 9. Footer
/* 10. Modal
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
   --ff-title: font-family: "Roboto", sans-serif;; 
	
	--clr-background: 	#B22222;
	--clr-white: 		#fff;
	--clr-gray: 		#EEEDED;
	--clr-yellow:       #FEAF05;
	--clr-dark-red: 	#660000;
	
	--spacing: 0.25rem;
	--transition: all 0.2s linear;
	--dark-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
}

/**********************************/
/* 1. Estilos Gerais
/**********************************/

html {
	font-size: 62.5%;
    background-color: var(--clr-background);
}

body, html {
    height: 100%;
    margin: 0;
}

a {
	text-decoration: none;
}

ul {
    list-style: none;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: var(--clr-background);
    box-shadow: 1px 1px 6px #000;
}



/**********************************/
/* 3. Conteudo principal
/**********************************/


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.container-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.child {
    width: 500px;
    height: 600px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.logo img {
    width: 225px;
    border-radius: 12px;
}

.child form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.child input {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
}

.child button {
    cursor: pointer;
    padding: 10px;
    width: 200px;
    border-radius: 12px;
    border: none;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    background-color: var(--clr-background);
}

.child button:hover {
    box-shadow: 0 4px 10px #ff000054;
    color: var(--clr-yellow);
}

.child p a{
  font-weight: bold;
  font-size: 1.3rem;
}

.child p a:hover{
    text-decoration: underline;
  }


@media screen and (max-width: 860px){
    .container-principal{
        width: 100%; 
        height: 100%;
    }

    .child {
        width: 75%;  
        height: 64%;
    }

    .child button {
        cursor: pointer;
        width: 180px;
        font-size: 2rem;
    }

    .child form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .logo img {
        width: 200px;
    }
    

    
}
